@import "tailwindcss";

@theme {
  /* Screens / Breakpoints */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  /* Font Family */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

/* Custom Container Utility */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem; /* DEFAULT: 1rem */

  @media (width >= --theme(--breakpoint-md)) {
    padding-inline: 2rem; /* md: 2rem */
  }

  @media (width >= --theme(--breakpoint-lg)) {
    padding-inline: 4rem; /* lg: 4rem */
  }
}